apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: cert-manager
  annotations:
    gethomepage.dev/href: https://argocd.admin.thelegend27.fr
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: ArgoCD
    gethomepage.dev/description: Declarative GitOps
    gethomepage.dev/icon: argo-cd.png
    gethomepage.dev/group: Administration
    gethomepage.dev/pod-selector: app=argocd
    gethomepage.dev/widget.type: argocd
    gethomepage.dev/widget.url: http://argocd-server.argocd:80
    gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_ARGOCD_TOKEN}}"
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`argocd.admin.thelegend27.fr`)
      # priority: 10
      middlewares:
        - name: traefik-forward-auth
          namespace: traefik
      services:
        - name: argocd-server
          namespace: argocd
          port: 80
    - kind: Rule
      match: Host(`argocd.admin.thelegend27.fr`) && Header(`Content-Type`, `application/grpc`)
      priority: 11
      services:
        - name: argocd-server
          namespace: argocd
          port: 80
          scheme: h2c

  tls:
    secretName: wildcard-admin-thelegend27-tls
