apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pihole
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: 'https://github.com/Thomas141100/homeserver.git'
      path: kubernetes/pihole
      targetRevision: lenovotiny
    - chart: pihole
      repoURL: https://mojo2600.github.io/pihole-kubernetes/
      targetRevision: 2.35.0

      helm:
        valuesObject:
          webHttp: "8080"
          webHttps: "8443"

          # hostNetwork: "true"

          serviceDhcp:
            enabled: false

          serviceDns:
            mixedService: true
            # externalTrafficPolicy: Cluster
            type: LoadBalancer
            port: 53

          serviceWeb:
            type: LoadBalancer
            http:
              port: 8080
            https:
              port: 8443

          ingress:
            enabled: false

          persistentVolumeClaim:
            enabled: true
            existingClaim: "pihole-config"

          admin:
            existingSecret: "pihole-admin"

          monitoring:
            podMonitor:
              enabled: false

            sidecar:
              enabled: false
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  destination:
    server: https://kubernetes.default.svc
    namespace: pihole
