apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 37.4.0
    helm:
      valuesObject:
        providers:
          kubernetesCRD:
            allowCrossNamespace: true
        ports:
          web:
            port: 80
            nodePort: 80
          websecure:
            port: 443
            nodePort: 443
            # tls:
            #   enabled: true
        # certificatesResolvers:
        #   letsencrypt:
        #     acme:
        #       dnsChallenge:
        #         provider: cloudflare
        #       storage: /data/acme.json
        # env:
        #   - name: CF_DNS_API_TOKEN
        #     valueFrom:
        #       secretKeyRef:
        #         name: cloudflare
        #         key: token
        additionalArguments:
          - --api.insecure=true
          - --accesslog=true
        #   - --entryPoints.web.http.redirections.entryPoint.to=websecure
        #   - --entryPoints.web.http.redirections.entryPoint.scheme=https
        #   - --entryPoints.web.http.redirections.entryPoint.permanent=true
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
