apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: 'https://github.com/Thomas141100/homeserver.git'
      path: kubernetes/grafana
      targetRevision: lenovotiny
    - repoURL: https://grafana.github.io/helm-charts
      chart: grafana
      targetRevision: 8.11.1
      helm:
        valuesObject:
          persistence:
            enabled: true
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana
