grafana:
  admin:
    existingSecret: "grafana-admin-credentials"
    userKey: admin-user
    passwordKey: admin-password

  persistence:
    enabled: true
    type: pvc
    existingClaim: grafana-data
