apiVersion: v1
kind: Service
metadata:
  name: qbittorrent-wireguard
  namespace: qbittorrent
spec:
  type: NodePort
  selector:
    app: qbittorrent-wireguard
  ports:
    - name: "http"
      port: 8080
    - name: "bittorrent"
      port: 32123
      nodePort: 32123
