apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: torrent-ingress
  namespace: cert-manager
  annotations:
    gethomepage.dev/href: https://torrent.admin.thelegend27.fr
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: qBittorrent
    gethomepage.dev/description: Torrents
    gethomepage.dev/icon: qbittorrent.png
    gethomepage.dev/group: Media Management
    gethomepage.dev/pod-selector: app=qbittorrent-wireguard
    gethomepage.dev/widget.type: qbittorrent
    gethomepage.dev/widget.url: http://qbittorrent-wireguard.qbittorrent:8080
    gethomepage.dev/widget.username: "{{HOMEPAGE_VAR_QBITTORRENT_USER}}"
    gethomepage.dev/widget.password: "{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}"
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`torrent.admin.thelegend27.fr`)
      middlewares:
        - name: traefik-forward-auth
          namespace: traefik
      services:
        - name: qbittorrent-gluetun
          namespace: qbittorrent
          port: 8080
    - kind: Rule
      match: Host(`torrent.lenovotiny`)
      services:
        - name: qbittorrent-gluetun
          namespace: qbittorrent
          port: 8080

  tls:
    secretName: wildcard-admin-thelegend27-tls
