apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pgvectors-immich
  namespace: immich
spec:
  instances: 1

  storage:
    size: 1Gi

  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.4.3

  postgresql:
    shared_preload_libraries:
      - 'vchord.so'
  
  enableSuperuserAccess: true
  superuserSecret:
    name: pgvectors-immich-secrets

  bootstrap:
    initdb:
      database: immich
      owner: immich
      # TODO: Use managed extensions (pg 18)
      postInitApplicationSQL:
        # Commands based on: https://immich.app/docs/administration/postgres-standalone/#without-superuser-permission
        - CREATE EXTENSION vchord CASCADE;
        - CREATE EXTENSION earthdistance CASCADE;
