apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn-ingress
  namespace: cert-manager
  annotations:
    gethomepage.dev/href: https://longhorn.admin.thelegend27.fr
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Longhorn
    gethomepage.dev/description: Distributed Block Storage
    gethomepage.dev/icon: longhorn.png
    gethomepage.dev/group: Administration
    gethomepage.dev/pod-selector: app=longhorn-ui
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`longhorn.admin.thelegend27.fr`)
      middlewares:
        - name: traefik-forward-auth
          namespace: traefik
      services:
        - name: longhorn-frontend
          namespace: longhorn-system
          port: 80

  tls:
    secretName: wildcard-admin-thelegend27-tls
