apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-ingress
  namespace: cert-manager
  annotations:
    gethomepage.dev/href: https://grafana.admin.thelegend27.fr
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Grafana
    # gethomepage.dev/description: Grafana
    gethomepage.dev/icon: grafana.png
    gethomepage.dev/group: Administration
    gethomepage.dev/pod-selector: app=grafana
    gethomepage.dev/widget.type: grafana
    gethomepage.dev/widget.url: http://grafana.monitoring:80
    gethomepage.dev/widget.username: "{{HOMEPAGE_VAR_GRAFANA_USER}}"
    gethomepage.dev/widget.password: "{{HOMEPAGE_VAR_GRAFANA_PASSWORD}}"
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`grafana.admin.thelegend27.fr`)
      middlewares:
        - name: traefik-forward-auth
          namespace: traefik
      services:
        - name: grafana
          namespace: monitoring
          port: 80

  tls:
    secretName: wildcard-admin-thelegend27-tls
